<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-card/px-card.html">
<link rel="import" href="../../bower_components/px-data-table/px-data-table.html">
<link rel="import" href="../../bower_components/px-rangepicker/px-rangepicker.html">
<link rel="import" href="../../bower_components/px-gauge/px-gauge.html">
<link rel="import" href="../../bower_components/px-kpi/px-kpi.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/marked-element/marked-element.html">
<link rel="import" href="../../bower_components/px-vis-pie-chart/px-vis-pie-chart.html"/>
<!-- import page level css -->
<link rel="import" href="../seed-app/seed-app-styles.html">

<dom-module id="dashboard-view">
  <template>
    <style include="seed-app-styles"></style>
    <style>
    div.markdown-html > h1 {
      font-weight: normal;
      font-size: 2.6667rem;
      color: rgb(9, 129, 156);
    }
    div.markdown-html > h2 {
      margin-top: 0;
      font-size: 1.86667rem;
      font-weight: normal;
    }
    /* px-card {
    background: white;
    color: rgb(44, 64, 76);
    --px-card-header-color: black;
    } */
    </style>
    <px-card id="myCard" style="height: 70px;">

      <div class="flex flex--wrap u-p">

        <div class="u-1/4-desk-and-up u-pr++ u-mb-">
          <div style="padding-top: 5px; font-size: 19px;">OVERVIEW OF SERVICE INCIDENTS</div>
        </div>

        <div class="u-1/4-desk-and-up u-pr++ u-mb-">
          <px-rangepicker
          hide-time
          date-format="MM/DD/YY"
          time-format="hh:mm:ss A"
          time-zone="America/Los_Angeles"
          show-time-zone="abbreviatedText"
          from-moment="[[fromMoment]]"
          to-moment="[[toMoment]]">
        </px-rangepicker>
      </div>

    </div>
  </px-card>

  <br /><br />

  <div class="flex flex--justify flex--wrap u-p">

    <div class="u-1/4-desk-and-up u-pr++ u-mb-">
      <div style="width: 250px;height: -10px; margin-left: 30px; margin-top: -10px; padding-top: -10px;">
        <px-gauge
        id="unresolvedCount"
        min="0"
        max="100"
        bar-width="30"
        unit="UNRESOLVED"
        error='[[0,12],[79,100]]'
        abnormal='[[12,32],[68,79]]'
        anomaly='[[32,45],[54,68]]'
        normal='[[45,54]]'>
      </px-gauge>
    </div>
  </div>

  <div class="u-1/4-desk-and-up u-pr++ u-mb-">
    <px-kpi
    spark-type="line"
    label="Total Incidents"
    id="totalIncidents"
    uom="incidents"
    spark-data='[{"x":1397102460000,"y":0.56}]'>
  </px-kpi>
</div>

<div class="u-1/4-desk-and-up u-pr++ u-mb-">
  <px-kpi
  spark-type="line"
  label="Total Error Codes"
  id='totalErrorCodes'
  uom='errors'
  spark-data='[{"x":1397102460000,"y":0.56}]'>
</px-kpi>
</div>

<div class="u-1/4-desk-and-up u-pr++ u-mb-">
  <px-kpi
  spark-type="bar"
  label="Resolution Types"
  id='resolutionTypes'
  uom="types"
  spark-data='[112,57,53,122,128,120]'>
</px-kpi>
</div>

</div>


<div class="flex flex--wrap u-p">
<!--
  <div class="u-1/2-desk-and-up u-pr++ u-mb-">
    <div class="u-p">
      <span class="heading--subsection">SYMPTOM WORD CLOUD</span>
    </div>
  </div>


  <div class="u-1/2-desk-and-up u-pr++ u-mb-">
    <div class="u-p">
      <span class="heading--subsection">TOP 5 ERROR CODES</span>
    </div>
    <div style="padding: 10px 20px;">

      <table class="table">
        <tbody>
          <tr>
            <th>Rank</th>
            <th>Error Code</th>
            <th>Count</th>
          </tr>
          <tr>
            <td>1</td>
            <td>No_Structural_Problem_Found</td>
            <td>60</td>
          </tr>
          <tr>
            <td>2</td>
            <td>No_Structural_Problem_Found</td>
            <td>40</td>
          </tr>
          <tr>
            <td>3</td>
            <td>No_Structural_Problem_Found</td>
            <td>34</td>
          </tr>
          <tr>
            <td>4</td>
            <td>No_Structural_Problem_Found</td>
            <td>31</td>
          </tr>
          <tr>
            <td>5</td>
            <td>No_Structural_Problem_Found</td>
            <td>29</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div> -->
  <div class="u-1/2-desk-and-up u-pr++ u-mb-">
    <div class="u-p">
      <span class="heading--subsection">RESOLUTION CODES</span>
    </div>
    <div style="padding: 10px 20px;">
      <px-data-table id='errorcodetable' page-size="5"></px-data-table>
    </div>
  </div>

  <div class="u-1/2-desk-and-up u-pr++ u-mb-">
    <div class="u-p">
      <span class="heading--subsection">RESOLUTION CODES</span>
    </div>
    <div style="padding: 10px 20px;">
    <px-vis-pie-chart
    id='errorpiechart'
    width="400"
    height="300"
    chart-horizontal-alignment="center"
    chart-vertical-alignment="center"
    margin='{"top":"10","bottom":"10","left":"30","right":"10"}'
    inner-radius="0"
    title="Error Codes Breakdown"
    title-spacing="5"
    use-percentage
    decimal-percentage="2"
    max-registers="0"
    hide-register="true"
    series-config='{"mySerie":{"xAxisUnit":"","y":"y","x":"x"}}'
    ></px-vis-pie-chart>
  </div>
  </div>

</div>
<iron-ajax id="dashboardAjax" handle-as="text"></iron-ajax>
</template>
<script>
Polymer({
  is: 'dashboard-view',
  properties: {},
  ready: function() {
    var that = this;
    this.$.dashboardAjax.url = "/dashboard";

    this.$.dashboardAjax.addEventListener('response', function(evt) {
      const jsonData = JSON.parse(evt.detail.response);
      let unresolved = jsonData.totalIncidents - jsonData.numResolved;
      document.getElementById('unresolvedCount').value = unresolved;
      document.getElementById('totalIncidents').value = jsonData.totalIncidents;
      document.getElementById('totalErrorCodes').value = jsonData.totalErrorCodes;
      document.getElementById('resolutionTypes').value = jsonData.uniqueResCodes.length;
      document.getElementById('errorcodetable').tableData = jsonData.uniqueResCodes;

      document.getElementById('errorpiechart').chartData = jsonData.uniqueResCodes.map((item) => {
        return {
          'y': item['final_rescode'],
          'x': parseInt(item['counter'])
        };
      });

      let incidentsSparkData = jsonData.incidentsAgg.map((item, _) => {
        return {
          'x': _,
          'y': parseInt(item['counter']),
          'z': item['monthcounter']
        };
      });
      document.getElementById('totalIncidents').sparkData = incidentsSparkData;

      let errorCodesSparkData = jsonData.errorCodesAgg.map((item, _) => {
        return {
          'x': _,
          'y': parseInt(item['counter']),
          'z': item['monthcounter']
        };
      });
      document.getElementById('totalErrorCodes').sparkData = errorCodesSparkData;

      let rescodeTypeSparkData = jsonData.distinctCodesAgg.map((item, _) => {
        return parseInt(item['counter']);
      });
      document.getElementById('resolutionTypes').sparkData = rescodeTypeSparkData;
    });
    this.$.dashboardAjax.generateRequest();
  }
});
</script>
</dom-module>
