<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-card/px-card.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/marked-element/marked-element.html">
<!-- import page level css -->
<link rel="import" href="../seed-app/seed-app-styles.html">

<dom-module id="datasource-view">
  <template>
    <style include="seed-app-styles"></style>
    <style>
      px-card {
        background: white;
        color: rgb(44, 64, 76);
        --px-card-header-color: black;
        padding: 20px 100px;
      }
    </style>

    <px-card id="myCard">
      <br/>
      <div class="heading--page">Add Service Incident</div><br/>
      <label for="input1">Service Request ID</label><br />
      <input class="text-input" id="sr_id" type="text"><br /><br />
      <label for="input1">Error Codes</label><br />
      <textarea id="error_code"></textarea><br /><br />
      <label for="input1">Customer Symptom</label><br />
      <textarea id="symptom"></textarea><br /><br />
      <button class="btn btn--call-to-action" on-tap="_diagnose">Add</button>
      <button class="btn btn--regular" on-tap="_cancel">Cancel</button>


      <iron-ajax id="aboutContentAjaxEl"
      method="POST"
		handle-as="json"
		content-type="application/json">
    </iron-ajax>
      <marked-element id="aboutContentMarkdown" markdown="">
        <div class="markdown-html"></div>
      </marked-element>
    </px-card>
  </template>
  <script>
    Polymer({
      is: 'datasource-view',
      properties: {},
      ready: function() {

      },
      _cancel: function() {

      },
      _diagnose: function() {
        var that = this;
        this.$.aboutContentAjaxEl.url = "/runmodel";
        this.$.aboutContentAjaxEl.body = {
          "sr_id": document.getElementById('sr_id').value,
          "symptom": document.getElementById('symptom').value,
          "error_code": document.getElementById('error_code').value
        };
        this.$.aboutContentAjaxEl.addEventListener('response', function(evt) {
          console.log(evt);
          that.$.aboutContentMarkdown.markdown = "Predicting resolution...";
        });
        this.$.aboutContentAjaxEl.generateRequest();
      }
    });
  </script>
</dom-module>
