<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-card/px-card.html">
<link rel="import" href="../../bower_components/px-data-table/px-data-table.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/marked-element/marked-element.html">
<link rel="import" href="../../bower_components/px-inbox/px-inbox.html"/>

<link rel="import" href="../../bower_components/px-vis-pie-chart/px-vis-pie-chart.html"/>
<link rel="import" href="../../bower_components/px-key-value-pair/px-key-value-pair.html" />
<!-- import page level css -->
<link rel="import" href="../seed-app/seed-app-styles.html">
<link rel="import" href="../../bower_components/px-typeahead/px-typeahead.html"/>
<dom-module id="diagnosis-view">
  <template>
    <style include="seed-app-styles"></style>
    <style>
    div.markdown-html > h1 {
      font-weight: normal;
      font-size: 2.6667rem;
      color: rgb(9, 129, 156);
    }
    div.markdown-html > h2 {
      margin-top: 0;
      font-size: 1.86667rem;
      font-weight: normal;
    }
    px-card {
      background: white;
      color: rgb(44, 64, 76);
      --px-card-header-color: black;
    }
    </style>

    <px-inbox id='inboxlist'>
      <div class="heading--page u-p">Service Incident: <span id="sr_id"></span></div>
      <div class="u-p">
        <span class="heading--subsection">INCIDENT INFORMATION</span>
      </div>
      <div class="flex flex--wrap u-p">

        <div class="u-1/4-desk-and-up u-pr++ u-mb-">
          <px-key-value-pair class="u-mv" label="Status" value="" size="delta">
          </px-key-value-pair>
          <div id="req-status-box" style=" background-color: #fec617; margin-top: 10px; padding: 2px 10px;"><span id="req_status" style="font-size: 17px;"></span></div>
          <br />
          <px-key-value-pair class="u-mv" label="Received Date/Time" value="" id="timestamp" size="delta"></px-key-value-pair>
        </div>

        <div class="u-1/4-desk-and-up u-pr++ u-mb-">
          <px-key-value-pair class="u-mv" label="Model" value="Optima 660" size="delta"></px-key-value-pair>
          <br />
          <px-key-value-pair class="u-mv" label="Error Code Count" id="errorCount" size="delta"></px-key-value-pair>
        </div>

        <div class="u-1/2-desk-and-up u-pr++ u-mb-">
          <px-key-value-pair class="u-mv" label="Customer Symptom" value="" size="delta">
          </px-key-value-pair>
          <div style="margin-top: 10px;"><span id="symptom" style="font-size: 17px;"></span></div>
        </div>
      </div>
      <div class="u-p">
        <span class="heading--subsection">MACHINE ERROR CODES</span>

      </div>
      <div class="flex flex--wrap u-p">

        <div class="u-1/2-desk-and-up u-pr++ u-mb-" style="padding-top: 10px">
          <px-data-table id='errorcodetable' page-size="5"></px-data-table>
        </div>

        <div class="u-1/2-desk-and-up u-pr++ u-mb-">
          <px-vis-pie-chart
          id='errorpiechart'
          width="450"
          height="450"
          chart-horizontal-alignment="right"
          chart-vertical-alignment="center"
          margin='{"top":"10","bottom":"10","left":"30","right":"10"}'
          inner-radius="0"
          title="Error Codes Breakdown"
          title-spacing="5"
          use-percentage
          decimal-percentage="0"
          max-registers="0"
          series-config='{"mySerie":{"xAxisUnit":"code(s)","y":"y","x":"x"}}'
          >
        </px-vis-pie-chart>
      </div>
    </div>

    <div class="flex flex--wrap u-p">

      <div class="u-1/2-desk-and-up u-pr++ u-mb-">
        <div class="u-p">
          <span class="heading--subsection">PREDICTED RESOLUTION CODES</span>
        </div>
        <div style="padding: 10px 20px;">

          <table class="table">
            <tbody>
              <tr>
                <th>Rank</th>
                <th>Resolution Code</th>
                <th>Confidence</th>
              </tr>
              <tr>
                <td>1</td>
                <td id="predictedRescode"></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="u-1/2-desk-and-up u-pr++ u-mb-">
        <div class="u-p">
          <span class="heading--subsection">ACTUAL RESOLUTION CODE</span>
        </div>
        <div style="padding: 10px 20px">
          <!-- <px-typeahead
          id="searchRescodes"
          placeholder="Enter actual resolution code"
          max-suggestions="10"
          >
        </px-typeahead> -->
        <span id='final_rescode'></span>
        <input class="text-input" placeholder='Enter actual resolution code' id="final_rescode_input" type="text">
        <br /><br />
        <button id="resolveButton" class="btn btn--call-to-action" on-tap='_resolve'>
          <px-icon style="--iron-icon-height:16px;margin-right:5px;" icon="px-utl:confirmed"></px-icon>Resolve
        </button>
      </div>
    </div>
  </div>
  <br /><br /><br /><br />

</px-inbox>
<iron-ajax id="aboutContentAjaxEl"
handle-as="json"
content-type="application/json">
</iron-ajax>
<iron-ajax id="errorLogCall"
handle-as="json"
content-type="application/json">
</iron-ajax>
<iron-ajax id="updateFinalRescode" method="POST" handle-as="json" content-type="application/json">
</iron-ajax>
</template>
<script>
Polymer({
  is: 'diagnosis-view',
  properties: {
  },
  ready: function() {
    var that = this;
    this.$.aboutContentAjaxEl.url = "/issues";

    this.$.aboutContentAjaxEl.addEventListener('response', function(evt) {
      response = evt.detail.response;
      var demo = document.getElementById('inboxlist');
      demo.listItems = response.map((item, _) => {
        return {
          "num": _,
          "id":item['sr_id'],
          "title":item['sr_id'],
          "subtitle":item['symptom'],
          "severity":(item['req_status'] === 'RESOLVED') ? 'healthy': 'important',
          "date":item['req_timestamp'],
          "sr_id": item['sr_id'],
          "symptom": item['symptom'],
          "req_timestamp": item['req_timestamp'].slice(0, 16),
          "final_rescode": item['final_rescode'],
          "predicted_rescodes": item['predicted_rescodes'],
          "req_status": item['req_status'],
          // "alertId":"749581",
          // "alertSource":"Combustion",
          "receivedDateTime":"2016-10-05T08:00",
          // "caseNumber":"127587937",
          // "customer":"Dorothy Vaughan",
          // "serialNumber":"GT769375",
          // "dlnType":"DLN 2.6",
          // "model":"7FA+e"
        };
      });
      demo.selectedItem = 0; // default select first item in list

      demo.addEventListener('selected-item-ref-changed', (selectedItem) => {
        selected = selectedItem.detail.value;
        document.getElementById('sr_id').innerHTML = selected['sr_id'];
        document.getElementById('symptom').innerHTML = selected['symptom'];
        document.getElementById('timestamp').value = selected['req_timestamp'];
        let req_status_color
        if (selected['req_status'] === 'RESOLVED') {
          req_status_color = '#b4e34f';
        } else if (selected['req_status'] === 'FOR REVIEW') {
          req_status_color = '#58abee';
        } else {
          req_status_color = '#ffe070';
        }
        document.getElementById('req-status-box').style['background-color'] = req_status_color;
        if (selected['final_rescode']) {
          console.log(selected['final_rescode']);
          document.getElementById('final_rescode').innerHTML = selected['final_rescode'];
          document.getElementById('final_rescode_input').style.display = 'none';
          document.getElementById('resolveButton').style.display = 'none';
        } else {
          document.getElementById('final_rescode').innerHTML = '';
          document.getElementById('final_rescode_input').style.display = 'block';
          document.getElementById('resolveButton').style.display = 'block';
        }

        if (selected['predicted_rescodes']) {
          const predictedRescode = selected['predicted_rescodes']['predicted'];
          document.getElementById('predictedRescode').innerHTML = predictedRescode;//'<a href="/#/trends/' + encodeURI(predictedRescode) + `">${predictedRescode}</a>`;
        } else {
          document.getElementById('predictedRescode').innerHTML = 'No prediction yet';
        }
        (selected['predicted_rescodes']) ? selected['predicted_rescodes']['predicted'] : 'No prediction yet.';
        document.getElementById('req_status').innerHTML = selected['req_status'];

        document.getElementById('errorLogCall').url = `/errorlogs?sr_id=${selected['sr_id']}`;
        document.getElementById('errorLogCall').addEventListener('response', function(evt) {
          document.getElementById('errorcodetable').tableData = evt.detail.response.map((item, _) => {
            return {
              'id': _+1,
              'timestamp': item.error_timestamp,
              'error code': item.error_code
            };
          });

          let totalCodes = evt.detail.response.length;
          document.getElementById('errorCount').value = totalCodes;
          let codeDict = {};
          for (let i=0; i<totalCodes; i++) {
            error_code = String(evt.detail.response[i].error_code)
            if (!(error_code in codeDict)) {
              codeDict[error_code] = 0;
            }
            codeDict[error_code]++;
          }
          document.getElementById('errorpiechart').chartData = Object.keys(codeDict).map((key) => {
            return {
              "y": key,
              "x": codeDict[key],
              "percentage": codeDict[key] / totalCodes * 100,
            }
          });
        });
        document.getElementById('errorLogCall').generateRequest();
      })

      // that.$.aboutContentMarkdown.markdown = "Predicting resolution...";
    });
    this.$.aboutContentAjaxEl.generateRequest();

  },
  _resolve: function() {
    this.$.updateFinalRescode.url = '/final-rescode';
    const final_rescode = document.getElementById('final_rescode_input').value;
    this.$.updateFinalRescode.body = {
      'final_rescode': final_rescode,
      'sr_id': document.getElementById('sr_id').innerHTML
    };
    this.$.updateFinalRescode.addEventListener('response', (evt) => {
      document.getElementById('final_rescode_input').style.display = 'none';
      document.getElementById('final_rescode').innerHTML = final_rescode;
      setTimeout(() => { this.ready(); }, 1000)
    })
    this.$.updateFinalRescode.generateRequest();
  }

});
</script>
</dom-module>
