<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-card/px-card.html">
<link rel="import" href="../../bower_components/px-data-table/px-data-table.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/marked-element/marked-element.html">
<link rel="import" href="../../bower_components/px-inbox/px-inbox.html"/>
<link rel="import" href="../../bower_components/px-key-value-pair/px-key-value-pair.html" />
<!-- import page level css -->
<link rel="import" href="../seed-app/seed-app-styles.html">

<dom-module id="diagnosis-view">
  <template>
    <style include="seed-app-styles"></style>
    <style>
      div.markdown-html > h1 {
        font-weight: normal;
        font-size: 2.6667rem;
        color: rgb(9, 129, 156);
      }
      div.markdown-html > h2 {
        margin-top: 0;
        font-size: 1.86667rem;
        font-weight: normal;
      }
      px-card {
        background: white;
        color: rgb(44, 64, 76);
        --px-card-header-color: black;
      }
    </style>

    <px-inbox id='inboxlist'>
      <div class="heading--page u-p">Service Incident: <span id="sr_id"></span></div>
      <div class="u-p">
        <span class="heading--subsection">INCIDENT INFORMATION</span>
      </div>
      <div class="flex flex--wrap u-p">

        <div class="u-1/4-desk-and-up u-pr++ u-mb-">
          <px-key-value-pair class="u-mv" key="Status" value="" size="delta">
          </px-key-value-pair>
          <div style=" background-color: #fec617; margin-top: 10px; padding: 2px 10px;"><span id="req_status" style="font-size: 17px;"></span></div>
          <px-key-value-pair class="u-mv" key="Received Date/Time" value="" id="timestamp" size="delta"></px-key-value-pair>
        </div>

        <div class="u-1/4-desk-and-up u-pr++ u-mb-">
          <px-key-value-pair class="u-mv" key="Model" value="Optima 660" size="delta"></px-key-value-pair>
          <px-key-value-pair class="u-mv" key="Error Code Count" value="5" size="delta"></px-key-value-pair>
        </div>

          <div class="u-1/2-desk-and-up u-pr++ u-mb-">
            <px-key-value-pair class="u-mv" key="Customer Symptom" value="" size="delta">
            </px-key-value-pair>
            <div style="margin-top: 10px;"><span id="symptom" style="font-size: 17px;"></span></div>
          </div>
      </div>
      <div class="u-p">
        <span class="heading--subsection">MACHINE ERROR CODES</span>

      </div>
      <div class="flex flex--wrap u-p">

        <div class="u-1/2-desk-and-up u-pr++ u-mb-" style="padding-top: 10px">
          <px-data-table id='errorcodetable'></px-data-table>
        </div>

          <div class="u-1/2-desk-and-up u-pr++ u-mb-">
            <px-vis-pie-chart
prevent-resize
width="450"
height="450"
chart-horizontal-alignment="center"
chart-vertical-alignment="center"
margin='{"top":"10","bottom":"10","left":"0","right":"0"}'
register-config='{"type":"vertical","width":200}'
chart-data="[[chartData]]"
series-config='{"mySerie":{"xAxisUnit":"pints","y":"y","x":"x"}}'
inner-radius="0"
title="Total"
title-spacing="5"
decimal-percentage="0"
max-registers="0"
dynamic-menu-config='[{"name":"Log message","action":"function(data) {console.log(\"logging message\")}","eventName":"delete","icon":"px-vis:trash-series"}]'>
</px-vis-pie-chart>
          </div>
      </div>

      <!-- <px-data-grid id="errorcodetable"
      columns='[{"name":"sr_id","path":"sr_id","renderer":"px-data-grid-string-renderer","id":"123"}]'
      >
      </px-data-grid> -->
    </px-inbox>
    <iron-ajax id="aboutContentAjaxEl"
  handle-as="json"
  content-type="application/json">
  </iron-ajax>
    <iron-ajax id="errorLogCall"
  handle-as="json"
  content-type="application/json">
  </iron-ajax>
  </template>
  <script>
    Polymer({
      is: 'diagnosis-view',
      properties: {
      },
      ready: function() {
        var that = this;
        this.$.aboutContentAjaxEl.url = "/issues";

        this.$.aboutContentAjaxEl.addEventListener('response', function(evt) {
          response = evt.detail.response;
          var demo = document.getElementById('inboxlist');
          demo.listItems = response.map((item, _) => {
              return {
                "num": _,
                "id":item['sr_id'],
                "title":item['sr_id'],
                "subtitle":item['symptom'],
                "severity":"important",
                "date":item['req_timestamp'],
                "sr_id": item['sr_id'],
                "symptom": item['symptom'],
                "req_timestamp": item['req_timestamp'].slice(0, 16),
                "final_rescode": item['final_rescode'],
                "predicted_rescodes": item['predicted_rescodes'],
                "req_status": item['req_status']
                // "alertId":"749581",
                // "alertSource":"Combustion",
                // "receivedDateTime":"2016-10-05T08:00",
                // "caseNumber":"127587937",
                // "customer":"Dorothy Vaughan",
                // "serialNumber":"GT769375",
                // "dlnType":"DLN 2.6",
                // "model":"7FA+e"
              };
          });
          demo.addEventListener('selected-item-ref-changed', (selectedItem) => {
            selected = selectedItem.detail.value;
            document.getElementById('sr_id').innerHTML = selected['sr_id'];
            document.getElementById('symptom').innerHTML = selected['symptom'];
            document.getElementById('timestamp').value = selected['req_timestamp'];
            //document.getElementById('final_rescode').value = selected['final_rescode'];
            //document.getElementById('predicted_rescodes').value = selected['predicted_rescodes'];
            document.getElementById('req_status').innerHTML = selected['req_status'];
            document.getElementById('errorLogCall').url = `/errorlogs?sr_id=${selected['sr_id']}`;
            document.getElementById('errorLogCall').addEventListener('response', function(evt) {
              console.log(evt.detail.response);
              document.getElementById('errorcodetable').tableData = evt.detail.response.map((item, _) => {
                return {
                  'id': _+1,
                  'timestamp': item.error_timestamp,
                  'error code': item.error_code
                };
              });
            });
            document.getElementById('errorLogCall').generateRequest();
          })

          // that.$.aboutContentMarkdown.markdown = "Predicting resolution...";
        });
        this.$.aboutContentAjaxEl.generateRequest();

      },

    });
  </script>
</dom-module>
