<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-card/px-card.html">
<link rel="import" href="../../bower_components/px-data-table/px-data-table.html">
<link rel="import" href="../../bower_components/px-rangepicker/px-rangepicker.html">
<link rel="import" href="../../bower_components/px-gauge/px-gauge.html">
<link rel="import" href="../../bower_components/px-kpi/px-kpi.html">
<link rel="import" href="../../bower_components/px-key-value-pair/px-key-value-pair.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/marked-element/marked-element.html">
<link rel="import" href="../../bower_components/px-vis-pie-chart/px-vis-pie-chart.html"/>
<link rel="import" href="../../bower_components/px-typeahead/px-typeahead.html"/>
<link rel="import" href="../../bower_components/px-heatmap-grid/px-heatmap-grid.html"/>
<link rel="import" href="../../bower_components/px-dropdown/px-dropdown.html"/>
<!-- import page level css -->
<link rel="import" href="../seed-app/seed-app-styles.html">

<dom-module id="trends-view">
  <template>
    <style include="seed-app-styles"></style>
    <style>
    div.markdown-html > h1 {
      font-weight: normal;
      font-size: 2.6667rem;
      color: rgb(9, 129, 156);
    }
    div.markdown-html > h2 {
      margin-top: 0;
      font-size: 1.86667rem;
      font-weight: normal;
    }
    /* px-card {
    background: white;
    color: rgb(44, 64, 76);
    --px-card-header-color: black;
    } */
    </style>
    <px-card id="myCard" style="height: 70px;">

      <div class="flex flex--wrap u-p">

        <div class="u-1/4-desk-and-up u-pr++ u-mb-">
          <div style="padding-top: 5px; font-size: 19px;">RESOLUTION ANALYSIS</div>
        </div>

        <div class="u-1/4-desk-and-up u-pr++ u-mb-">
        <px-dropdown
        id="rescodeDropdown"
        style="margin-top: 5px;"
        items='[{"key":"1","val":"None found"}]'
        sort-mode="key"
        button-style="tertiary"
        display-value="All Resolution Codes"
        search-mode
        selected-changed='selectedRescode'
        trigger-height="30">
      </px-dropdown>
    </div>

  </div>
</px-card>

<br />

<div class="flex flex--justify flex--wrap u-p" style="margin: 5px 20px;">

  <div class="u-1/4-desk-and-up u-pr++ u-mb-">
    <px-key-value-pair
    label="LAST RESOLUTION"
    id='lastResolution'
    value="0"
    uom=""
    size="gamma">
  </px-key-value-pair>
</div>

<div class="u-1/4-desk-and-up u-pr++ u-mb-">
  <px-key-value-pair
  label="MEAN FREQUENCY"
  id='avgFrequency'
  value="0"
  uom="days"
  size="gamma"></px-key-value-pair>
</div>

<div class="u-1/4-desk-and-up u-pr++ u-mb-">
  <px-key-value-pair
  label="TOP TOPIC"
  id='topTopic'
  value=""
  uom=""
  size="gamma">
</px-key-value-pair>
</div>

<div class="u-1/4-desk-and-up u-pr++ u-mb-">
  <px-key-value-pair
  label="TOP ERROR CODE"
  id='topErrorCode'
  value=""
  uom=""
  size="gamma"></px-key-value-pair>
</div>

</div>

<div class="flex flex--wrap u-p">

  <div class="u-2/3-desk-and-up u-pr++ u-mb-">
    <div class="u-p">
      <span class="heading--subsection">SERVICE REQUEST HEATMAP</span>
    </div>
    <div style="padding: 10px 60px; align: center">
      <px-heatmap-grid
      id='heatmap'
      scale-min="0"
      >
    </px-heatmap-grid><br /><br />
  </div>
</div>

<div class="u-1/3-desk-and-up u-pr++ u-mb-">
  <div class="u-p">
    <span class="heading--subsection">RELATED RESOLUTION CODES</span>
  </div>
  <div style="padding: 10px;">
    <div style="padding: 10px 10px;">

      <table class="table">
        <tbody>
          <tr>
            <th>Rank</th>
            <th>Resolution Code</th>
            <th>Similarity</th>
          </tr>
          <tr>
            <td>1</td>
            <td>No_Structural_Problem_Found</td>
            <td>60%</td>
          </tr>
          <tr>
            <td>2</td>
            <td>No_Structural_Problem_Found</td>
            <td>60%</td>
          </tr>
          <tr>
            <td>3</td>
            <td>No_Structural_Problem_Found</td>
            <td>60%</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>

  <div class="u-1/2-desk-and-up u-pr++ u-mb-">
    <div class="u-p">
      <span class="heading--subsection">ASSOCIATED ERROR CODES</span>
    </div>
    <div style="padding: 20px;">
      <px-data-table id='errorcodetable' page-size="5"></px-data-table>
    </div>
  </div>

  <div class="u-1/2-desk-and-up u-pr++ u-mb-">
    <div class="u-p">
      <span class="heading--subsection">ERROR CODE BREAKDOWN</span>
    </div>
    <div style="width: 600px; margin-top: 20px;">
      <px-vis-pie-chart
      id='errorpiechart'
      width="400"
      height="300"
      chart-horizontal-alignment="center"
      chart-vertical-alignment="center"
      margin='{"top":"10","bottom":"10","left":"30","right":"10"}'
      inner-radius="0"
      title="Error Codes Breakdown"
      title-spacing="5"
      use-percentage
      decimal-percentage="2"
      max-registers="0"
      hide-register="true"
      series-config='{"mySerie":{"xAxisUnit":"","y":"y","x":"x"}}'
      ></px-vis-pie-chart>
    </div>
  </div>

  <div class="u-1/2-desk-and-up u-pr++ u-mb-">
    <div class="u-p">
      <span class="heading--subsection">ASSOCIATED SYMPTOM TERMS</span>
    </div>
    <div style="padding: 20px;">
      <px-data-table id='symptomtable' page-size="5"></px-data-table>
    </div>
  </div>

  <div class="u-1/2-desk-and-up u-pr++ u-mb-">
    <div class="u-p">
      <span class="heading--subsection">ASSOCIATED SYMPTOM WORD CLOUD</span>
    </div>
  </div>

</div>

<iron-ajax id="aboutContentAjaxEl" handle-as="text"></iron-ajax>
</template>
<script>
Polymer({
  is: 'trends-view',
  properties: {},
  ready: function() {
    this.callData('');
    setTimeout(() => { this.prepRescodeFilter(); }, 500);
  },
  callData: function(query) {
    var that = this;
    this.$.aboutContentAjaxEl.url = `/resolutions?q=${query}`;

    this.$.aboutContentAjaxEl.addEventListener('response', (evt) => {

      let jsonData = JSON.parse(evt.detail.response);
      document.getElementById('rescodeDropdown').items = jsonData.uniqueResCodes.map((item, _) => {
        return {
          'key': item['counter'],
          'val': item['counter']
        };
      });

      document.getElementById('lastResolution').value = jsonData.lastResolution;
      document.getElementById('avgFrequency').value = jsonData.avgFrequency.toFixed(1);
      document.getElementById('topErrorCode').value = jsonData.errorCodes[0] ? jsonData.errorCodes[0]['error_code'] : 'NIL';
      document.getElementById('errorcodetable').tableData = jsonData.errorCodes;
      document.getElementById('errorpiechart').chartData = jsonData.errorCodes.map((item) => {
        return {
          'y': item['error_code'],
          'x': parseInt(item['counter'])
        };
      });

      let heatmapData = []
      let cellMapping = {}
      let distinctYears = {}
      let topCount = 0
      for (let cell of jsonData.srHeatmap) {
        cellMapping[`${cell['year']}-${cell['month']}`] = cell['count'];
        distinctYears[cell['year']] = 1;
        if (cell['count'] > topCount) {
          topCount = cell['count']
        }
      }
      const monthMapping = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
      for (let distinctYear of Object.keys(distinctYears)) {
        for (let month of monthMapping) {
          heatmapData.push({
            'row': `Year ${distinctYear}`,
            'col': month,
            'value': cellMapping[`${distinctYear}-${month}`] ? cellMapping[`${distinctYear}-${month}`] : 0
          })
        }
      }
      document.getElementById('heatmap').scaleMax = topCount;
      document.getElementById('heatmap').heatmapData = heatmapData;
    });

    this.$.aboutContentAjaxEl.generateRequest();

  },
  prepRescodeFilter: function() {
    document.getElementById('rescodeDropdown').addEventListener('selected-changed', (evt) => {
      this.callData((evt.detail.value) ? evt.detail.value : '');
    });
  }

});
</script>
</dom-module>
