// Settings
@import "px-colors-design/_settings.colors.scss";

// Generic
@import "px-normalize-design/_generic.normalize.scss";
@import "px-box-sizing-design/_generic.box-sizing.scss";
@import "px-helpers-design/_generic.helpers.scss";

// px-viewport configuration variables are documented in the px-viewport Readme.md:
// https://github.com/predixdev/px-viewport-design
$desk-wide-width: auto; // defaults to 100%
$desk-wide-max-width: none; // defaults to 80rem
$viewport-margin: 0; // defaults to auto

// Base
@import "px-viewport-design/_base.viewport.scss";
@import "px-flexbox-design/_base.flexbox.scss";
@import "px-headings-design/_base.headings.scss";
@import 'px-tables-design/_base.tables.scss';
@import "px-forms-design/_base.forms.scss";

// Meta
@import "px-meta-lists-design/_meta.lists.scss";

// Objects
$inuit-enable-btn--bare     : true;
$inuit-enable-btn--call-to-action : true;
$inuit-enable-btn--primary : true;
@import "px-buttons-design/_objects.buttons.scss";
@import 'px-actionable-design/_objects.actionable.scss';
$inuit-enable-btn--call-to-action : true;

$inuit-enable-layout--small : true;
$inuit-enable-layout--flush : true;
$inuit-enable-layout--full  : true;


@import "px-layout-design/_objects.layout.scss";

//@import "../../seed-theme.scss";

:root {
  --px-app-nav-background-color: #e2e8ed;
  --px-app-nav-link-selected-color: #364C59;
  --px-branding-bar-background-color: rgb(8, 41, 57);
}

px-login {
  --px-btn-bare-color: #2c404c;

}

// header > div.viewport {
//   margin: 0 15px;
// }

main {
  min-height: calc(100vh - #{calculateRem(120px)});
  // margin-left: calculateRem(60px);
  background-color: white;
  //background-color: var(--px-seed-app-main-content-area-background-color, $px-page-main-content-area-background-color);
  overflow-x: hidden;
  flex: 1;
}

px-app-nav {
  z-index: 5;
  box-shadow: none;
}

// Trumps
$inuit-enable-margins--tiny             : true;
$inuit-enable-margins--small            : true;
$inuit-enable-margins--large            : true;
$inuit-enable-margins--huge             : true;
$inuit-enable-margins--none             : true;
$inuit-enable-margins--rtl              : true;
$inuit-enable-margins--negative-tiny    : true;
$inuit-enable-paddings                  : true;
$inuit-enable-paddings--tiny            : true;
$inuit-enable-paddings--small           : true;
$inuit-enable-paddings--large           : true;
$inuit-enable-paddings--huge            : true;
$inuit-enable-paddings--none            : true;

$inuit-enable-input--regular : true;
$inuit-enable-btn--primary : true;
@import 'px-buttons-design/_objects.buttons.scss';
@import 'px-forms-design/_base.forms.scss';

@import "px-spacing-design/_trumps.spacing.scss";
@import "px-widths-design/_trumps.widths.scss";
@import "px-widths-responsive-design/_trumps.widths-responsive.scss";

body {
  margin: 0px !important;
}

$inuit-enable-btn--call-to-action : true;
@import 'px-buttons-design/_objects.buttons.scss';
